@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Inter', sans-serif;
    font-weight: 400;

    /* outline: 2px red solid; */
}

::selection {
    background-color: #edffff;
    opacity: 0.07;
}

h1 {
    margin-left: 8.25%;
    margin-top: 4%;

    font-size: 56px;
    text-align: center;
}

p {
    margin-left: 8.25%;
    margin-top: 0.5%;

    font-size: 19px;
    margin-bottom: 2%;

    text-align: center;
}

.group {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 5%; */
}

.group * {
    width: 400px;
    height: 400px;

    border-radius: 10px;

    opacity: .125;
    margin: 0.5%;

    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.group *:hover {
    box-shadow: 0px 0px 70px -20px;
}

.item1 {
    background-color: #EA4C89;
}

.item2 {
    background-color: #2867B2;
}

.item3 {
    background-color: #1DA1F2;
}